div {
  border: 3px solid;
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

.parent {
  max-width: 1440px;
  margin: 0 auto;
  height: 1000px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  background-color: brown;
}


.child {
  width: 80%;
  background-color: green;
  position: relative;
  height: inherit;
}

.grand {
  width: 30%;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
}

